:root {
  --text-color: rgb(0, 14, 35);
  --line-color: rgb(240, 240, 240);
  --border: solid 0.5px var(--line-color);
  --secondary-color: rgb(180, 180, 180);
}
html {
  line-height: 1.5;
  font-size: 16px;
}
#root,
.home,
body {
  height: 100%;
  margin: 0;
  color: var(--text-color);
}

body {
  font-family: 'Baloo Paaji 2', cursive;
}

.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #f6f8fa;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 60px;
  font-size: 1.875rem;
  font-weight: 600;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.5rem;
  margin: 15px 0 10px 0;
}

.subtitle {
  color: var(--secondary-color);
  margin: 0 30px;
}

.left-nav {
  background-color: #fff;
  margin: 20px;
  box-sizing: border-box;
  width: 300px;
}

.product img {
  width: 176px;
  margin-top: 20px;
}

.chart-table {
  margin-top: 20px;
  width: calc(100% - 340px);
}

.chart-table table {
  margin-top: 40px;
  background-color: #fff;
  padding: 20px;
  width: 100%;
}

.chart-table table tr td {
  padding: 10px 0;
  border-top: var(--border);
  color: var(--secondary-color);
}

.chart-table table th {
  cursor: pointer;
  font-weight: 600;
  align-items: center;
}

.chart-table table th span {
  display: flex;
  align-items: center;
}

.chart-table table th:nth-child(n + 2) span {
  flex-direction: row-reverse;
}

.chart-table table th span i {
  color: var(--secondary-color);
}

.chart-table table th span i.selected {
  color: var(--text-color);
}

.chart {
  background-color: #fff;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 20px 10px;
  margin: 0;
}

ul.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
  border-bottom: var(--border);
  border-top: var(--border);
}

ul.tags li {
  padding: 5px 10px;
  margin: 5px 5px 0 0;
  border: solid 1px #dedede;
  border-radius: 4px;
}

ul.navigation li {
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  color: var(--secondary-color);
}

ul.navigation li.selected {
  color: var(--text-color);
}

ul.navigation li.selected i {
  color: rgb(60, 163, 240);
}

ul.navigation li i {
  font-size: 36px;
  margin-right: 20px;
}

.overview {
  padding: 10px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  height: 800px;
  background-color: #fff;
  margin-bottom: 20px;
}

.overview ul {
  margin: 0;
  padding: 10px 0 0 0;
}

.overview ul.details {
  padding-left: 20px;
}

.overview ul.details li {
  list-style: disc; 
}

.overview h3 {
  padding: 0;
}

.overview .reviews li {
  display: flex;
  flex-direction: column;
}

.overview .reviews li i {
  color: rgb(245, 182, 64);
}

.overview .reviews li span:nth-of-type(2) {
  font-weight: 600;
}

.overview .reviews li span:nth-of-type(1) {
  margin-left: -5px;
}
